body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

main {
  margin-top: 200px;
}

p {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  #gallery {
    margin: 10%;
  }
}
